body {
    background-color:lightgrey;
    font-family: arial,sans-serif;

}

h1 {
    text-align:center;
    color:darkblue;
}


main {
    padding:20px;
}

nav a {
    color: #90ee90; /* Soft green color */
    text-decoration: none; /* Removes underline */
    margin: 0 10px; /* Adds spacing between links */
}

.highlight {
    background-color: yellow;
    font-weight: bold;
}

footer {
    text-align: center;
    background-color:black;
    color:red;

}

section {
    border-radius:20px;
    padding:20px;

}

#specialnote{
    font-style: italic;
    color:blue;

}

button:hover{
    background-color:lightblue;
    cursor: pointer;
}
    


